

@model List<Category> //this has the List of all the categories and model should be always in lowecase.
@{
    ViewData["Title"] = "Index";
}


@*
<h1>Index Category</h1>*@
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-dark">CATEGORY LIST</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-dark text-black">
                <i class="bi bi-plus-circle-fill"></i>&nbsp; CREATE NEW CATEGORY</a>
        </div>
    </div>
    <br />
<table class="table  table-hover table-striped" style="100%">
    <thead>
        <tr class="table-dark">
            <th>
                Category_Id
            </th>
            <th>
                Category_Name
            </th>
            <th>
                Display_Sequence
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)//here the Model should be always .......M(caps)
        {
            <tr class="table-bordered table-primary">
                <td  width="50%">
                    @obj.Id
                </td>
                <td  width="50%">
                    @obj.Name
                </td>
                <td  width="50%">
                    @obj.DisplaySeq
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
